<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notebook</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="navbar">
        <h1>Note Book</h1>
    </div>
    <div class="container">
        <div class="books-container">
            <h2>NOTES</h2>
            <h5>JAGATHESAN-S
            </h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; Create a responsive notes application using HTML, CSS, and JavaScript. Users can add and delete notes with a user-friendly interface.and ensure compatibility across devices. Focus on simplicity, usability.</p>
                <button onclick="deletebooks(event)">Delete</button>
        </div>
          {{#each data}}
    <div class="books-container">
        <h2>{{this.title}}</h2>
        <h5>{{this.author}}</h5>
        <p>{{this.description}}</p>
        <button onclick=deletebooks(event)><a href="/delete_book/?delete_book={{this._id}}">Delete</a></button>
        </div>
    {{/each}}
    </div>
  
    <div class="popup-overlay"></div>
    <div class="popup-box">
        <h2>Add Book</h2>
        <form method="post" action="/">
            <input type="text" placeholder="book title" id="book-title-input" name="title">
            <input type="text" placeholder="book-author" id="book-author-input" name="author" >
            <textarea placeholder="short description" id="book-description-input" name="description" ></textarea>
            <button id="add-book">Add</button>
            <button id="cancel-book">Cancel</button>
        </form>

    </div>
    <button class="add-button" id="add-popup-button">+</button>
    
    <script src="script.js"></script>
   
    
</body>
</html>